<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Home</title>
    <frameset cols = "25%,50%,25%">
        <frame name = "left" src = "{{url_for('static', filename='left.html')}}" />
        <frame name = "center" src = "{{url_for('static', filename='center.html')}}" />
        <frame name = "right" src = "{{url_for('static', filename='right.html')}}" />
    
        <noframes>
        </noframes>
    </frameset>
</head>
<body>

</body>
</html>